<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Tyre Compound Prediction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fyp/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body class="dark-theme">
    <div class="title-class">
        <h1 class="orbitron-heading">F1 Compound Predictor</h1>
    </div>
    <main class="container">
        <div class="grid">
            <section class="content-section">
                <figure class="content-figure">              
                    <img src="{% static 'fyp/mclaren.png' %}" class="header-image"/>
                </figure>
                <form method="post" class="prediction-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'field1' %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <p>Race Progression: </p>
                    <label for="percentage_slider">{{ form.percentage.label }}</label>
                    <input type="range" name="field1" id="percentage_slider" step="0.01" min="0" max="1" value="{{ form.percentage.value|default_if_none:"0.00" }}">
                    <span id="percentage_value">0.00</span>%  <!-- Display for percentage value -->
                    <button type="submit" class="submit-btn">Predict Tyre Compound</button>
                </form>
            </section>
            {% if result %}
            <!-- Result Display with Dynamic Class Based on Prediction -->
            <p class="prediction-result {{result}}">Prediction result: {{ result }}</p>
            {% endif %}
        </div>
    </main>
    <script src="{% static 'fyp/script.js' %}"></script>
</body>
</html>